html {
    background-image: url('starry.gif');
    cursor: url('40823.png'), auto;
  }
  
  body {
    position: relative;
  }
  
  h1 {
    text-align: center;
    color: Tomato;
  }
  
  .bodyDiv {
    text-align: left; 
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between elements */
}

.directory-title {
    color: Tomato;
    margin-top: 0; /* Remove default margin to align */
    margin-bottom: 0; /* Remove default margin to align */
    flex-shrink: 0; /* Prevent shrinking */
}

.intro-text {
    font-size: 20px;
    color: #F589A6;
    margin: 0; /* Remove default margin */
}

/* Optional: Add some padding or margin to the sides of the sidebar */
.sidebarRight {
    float: right;
    width: 300px; 
    padding-left: 20px; /* Optional space to separate from text */
}
  
  .test-line {
    color: aqua;
  }
  
  .center-image {
    width: 88px;
    height: 31px;
  }
  
  .large-image {
    width: 200px;
    height: 150px;
  }
  
  /* when hovering */
  a:hover {
    cursor: url('40823.png'), pointer;
  }
  
  /* loading gif */
  .loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
    color: #F589A6;
}