html {
    background-image: url('starry.gif');
    cursor: url('40823.png'), auto;
  }
  
  body {
    position: relative;
  }
  
  h1 {
    text-align: center;
    color: Tomato;
  }
  
  .sidebarRight {
    float: right;
    width: 300px; 
  }
  
  .bodyDiv {
    text-align: left; 
  }
  
  .intro-text {
    color: #F589A6;
  }
  
  .directory-title {
    color: purple;
  }
  
  .test-line {
    color: aqua;
  }
  
  .center-content {
    text-align: center;
  }
  
  .center-image {
    width: 88px;
    height: 31px;
  }
  
  .large-image {
    width: 200px;
    height: 150px;
  }
  
  /* when hovering */
  a:hover {
    cursor: url('40823.png'), pointer;
  }
  
  /* loading gif */
  .loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }

  .bottom {
    position: absolute; bottom:
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #F589A6;
}