@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

font {
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  background-repeat: repeat;
  background-position: top left;
}

body {
  height: 100%;
  margin: 0;
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(63, 206, 75);
}

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: flex-end;
}

.content-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
}

.chat {
  background: black;
  box-shadow: 10px 10px 0px rgb(63, 206, 75);
  overflow: scroll;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  max-width: 70%;
  min-width: 300px;
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(0, 0, 0);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: black;
  color: green;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: #3fce4b;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  padding: 10px 0px 20px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  border-left: 0;
}

input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.side-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #3fce4b;
  padding: 20px;
  text-align: left;
  flex: 1;
}

.footer {
  width: 100%;
  text-align: left;
  color: RED;
  background-color: black;
  margin-top: auto;
  box-sizing: border-box;  /* Ensures padding doesn't affect width */
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 80vw;
    margin: 0 0 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 90vw;
  }
  .title {
    height: 7.5vh;
  }
}