@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

font {
  font-family: 'Roboto Mono', monospace;
  font-size: 12pt;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  background-repeat: repeat;
  background-position: top left;
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(63, 206, 75);
}

.wrapper {
  height: 95vh;
  display: flex; /* Enables flexbox for content alignment */
  justify-content: flex-end; /* Aligns the content to the right */
}

.content-wrapper {
  display: flex; /* Ensures chat and side content are next to each other */
  width: 100%;
}

.chat {
  background: black;
  box-shadow: 10px 10px 0px rgb(63, 206, 75);
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 70%; /* Increase the max-width of the chat */
  min-width: 300px; /* Set a minimum width for the chat box */
}

.messages {
  flex: 1 0 auto;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: white;
}

.messages div a:hover {
  color: rgb(0, 0, 0);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: black;
  color: green;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: rgb(63, 206, 75);
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  border-left: 0;
}

input:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}

.side-content {
  font-size: 20px;
  color: #F589A6;
  padding: 20px;
  text-align: right; /* Aligns text on the left */
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 80vw; /* Increase the width of the wrapper to allow more space */
    height: 90vh;
    margin: 0 0 2.5vh;
    justify-content: flex-end;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 70vw; /* Adjust width to maintain a good layout on larger screens */
  }
  .title {
    height: 7.5vh;
  }
}
